<div id="scratchpad" style="position:absolute;bottom:0;background-color:#333;color:whitesmoke;width:100%;padding:5px;">
  <table style="width:100%;">
    <% content.each do |i| %>
      <tr class='scratch'>
        <td><%= "#{i[:file]}:#{i[:line]}" %></td>
        <td><%= CGI::escapeHTML(i[:content].inspect).html_safe %></td>
      </tr>
    <% end %>
  </table>
</div>
 
